.inputRow {
  flex: 1 1 45%;
  display: flex;
  max-width: 45%;
  align-items: center;
  padding: 2px;
  gap: 7px;
  color: #80c0ff;
}

.inputRowLabel {
  width: 120px;
  white-space: nowrap;
  margin-right: 0px;
  min-width: 80px;
  text-align: right;
}

.inputRowInput {
  flex: 1;
  min-width: 0;
  min-width: 75px;
}