.infoLabel{
    padding-right: 100px;
}

.clientInfoBox {
    border: 2px solid white;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    align-items: center;
    gap : 20px;
}
.rightBorderedInfoDiv {
    border-right: 4px solid black;
}
.baseFlexDiv {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.cell {
  padding-left: 20px;
  border-right: 2px solid black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}
.cell:hover {
  background-color: rgba(255,255,255,0.1);
}