.infoLabel{
    padding-right: 100px;
}

.clientInfoBox {
    border: 2px solid white;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    align-items: center;
    gap : 20px;
}

.cell {
  padding-left: 1px;
  border-right: 2px solid #444;
  border-bottom: 2px solid #444;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 20px;
  text-align: center;
  color: #e0e0e0;
  padding-bottom: 15px;
}
.cell button {
  background-color: #1a2b40; 
  color: #fff;                
  border: none;             
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 18px;         
}

.cell button:hover {
  background-color: #2a3b50; 
}
