.clientInfoList {
  display: grid;
  grid-template-columns: 
    minmax(150px, 1fr)  /* Имя */
    minmax(200px, 2fr)  /* Email */
    minmax(200px, 3fr)  /* Адрес */
    minmax(100px, 1fr); /* Действие */
  gap: 0px;
  align-items: stretch;
  margin: 10px auto 0 auto;
  border: 1px solid #444;
  border-bottom: none;
  width: 100%;
}