html,body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  background-color: rgb(8, 27, 36);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}