.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: white;
    padding: 3px;
    z-index: 1000;
    display: flex;
    align-items: stretch;
    height: 60px;
    background-color:#000b13;
    border-bottom: green 2px solid;
}
