.nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: white;
    padding: 3px;
    z-index: 1000;
    display: flex;
    align-items: stretch;
    height: 60px;
    background-color:#000b13;
    border-bottom: #80c0ff solid; 
}
.navItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  border-right: #80c0ff solid;
  text-align: center;
  flex: 1;
}